
/* Banner section */
.banner-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  /* Below Banner Section Styling */
.below-banner {
  background-color: #a72f68;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
}

.below-banner-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.below-banner-text {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.shop-now-button {
  background-color: #ffa726;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-button:hover {
  background-color: #d883a8;
}

/* Adjust spacing for better alignment */
.nav-item {
  text-align: center;
}

.features-container {
  background-color: #f8d9e7; 
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: #a72f68;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.feature-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.feature-text {
  color: #a72f68; 
  font-weight: bold;
}

.feature-description {
  text-align: center;
  font-size: 0.9rem;
}

.eco-paper, .ph-made, .customer-service {
  font-size: 1.2rem;
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  color: #f8d9e7;
}


.faq-container {
  width: 50%; /* Adjust width as needed */
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: #a72f68;
}

.faq-question {
  display: block;
  width: 100%;
  padding: 20px 15px;
  background-color: #f8d9e7;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
  color: #a72f68;
}

.faq-question:hover {
  background-color: #d883a8;
}

.faq-answer {
  padding: 10px 15px;
  background-color: #ffa726;
  border: 1px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  color: #a72f68;
}
